@font-face {
  font-family: "Norse-Bold";

  src: 
  url("fonts/Norse-Bold.woff") format("woff"),
  url("fonts/Norse-Bold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}


.image-container {
  width: 32%; 
  position: relative;
}

.leaves-img {
  width: 100%; 
  position: absolute;
  left: 0;
  top: 0;
}