@font-face {
  font-family: "Norse-Bold";

  src: 
  url("fonts/Norse-Bold.woff") format("woff"),
  url("fonts/Norse-Bold.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(250, 249, 249);
}

.image-container {
  width: 50%; 
  height: 100%; 
  position: relative;
}

.leaves-img {
  width: 100%; 
  height: 100%; 
  left: 0;
  top: 0;
  position: absolute;
}

.logo-container {
  width: 100%;
  position: absolute;
  top: 160px; 
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  font-family: "Norse-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
}

.logo {
  width: 80px;
}

.logo-name {
  font-size: 5rem;
}

.form-section {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.explanation {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.paragraph-1 {
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 0.65rem;
  letter-spacing: 1px;
}

input {
  font-size: 1.2rem; 
  border: 2px solid #E5E7EB;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: rgb(95, 134, 232); 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  
}

input:focus:invalid {
  border-color: rgb(253, 66, 66);
  outline: none;
}

.form-info {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-bottom: 28px;
}

form h2 {
  margin-bottom: 20px; 
}

.row-1, .row-2, .row-3 {
  display: flex;
  gap: 56px;
  margin-bottom: 20px;
}

button, .login {
  margin-left: 40px;
}

button {
  background-color: #596D48;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 50px; 
  margin-bottom: 30px;
  font-size: 1rem; 
  font-weight: bold;
  cursor: pointer;
}

.login span {
  color: #596D48;
  font-weight: bold; 
  cursor: pointer;
}

.login span:hover {
  text-decoration: underline;
}